/* Import Simple.css and Crimson Text font */
@import url('https://cdn.simplecss.org/simple.min.css');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');

body {
  font-family: "Crimson Text", Georgia, serif;
}

/* Increase size for paragraph text only */
p, dl {
  font-size: 1.25rem;
}

img {
  border-radius: 5px;
  max-width: 300px;
  height: auto;
  display: block;  /* Prevents any unwanted inline spacing */
  margin-bottom: 1.5rem;  /* Add some space below the image */
}

figure figcaption {
  font-size: 1.20rem !important;
  margin-top: 0.5rem !important;
  line-height: 1.4 !important;
}

blockquote p {
  line-height: 1.3;
  margin: 0;
}

p + p {
  margin-top: 0.25em;  /* space between paragraphs in same blockquote */
}

blockquote + blockquote {
  margin-top: 0.25em;  /* space between separate blockquotes */
}

h1, h2, h3 {
  margin-bottom: 0.25em;  /* header closer to following text */
  margin-top: 0.75em;  /* reduced space above header after paragraph */
}